<!DOCTYPE html>
<html lang="en"  xmlns:th="www.thymeleaf.org" th:replace="~{sidemenu :: layout(~{::title}, ~{::section})}">

<head>

    <title>Sub-Categories</title>
</head>

<body id="page-top">
<section>


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Sub-Categories</h1>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Sub-Categories List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Sub-Category Id</th>
                            <th>Subcategory Name</th>
                            <th>Category Name</th>
                            <th>No Of Products</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Sub-Category Id</th>
                            <th>Subcategory Name</th>
                            <th>Category Name</th>
                            <th>No Of Products</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="e:${subcat}">
                            <td>[[${e.id}]]</td>
                            <td>[[${e.subcategoryName}]]</td>
                            <td>[[${e.category}]]</td>
                            <td>[[${e.noOfProducts}]]</td>
                            <td><i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</section>




</body>

</html>